@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

.customFont {
  font-family: "Kaushan Script", cursive;
}

.hideScroller::-webkit-scrollbar {
  display: none;
}

.hideScroller {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.outerCircle {
  animation: outerSpin 1s ease-in-out infinite forwards;
}

@keyframes outerSpin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.innerCircle {
  animation: innerSpin 1s ease-in-out infinite;
  animation-delay: 0ms;
}

@keyframes innerSpin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(-360deg)
  }
}